@import url(https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap);

html {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    background-color: #495057;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    background-color: #495057;
    color: #212529;
    margin: 0;
    padding: 0;
}

main {
    background-color: #ADB5BD;
    margin: 3% 10% 10% 10%;
    border-radius: 0px 0px 100px 100px;
    background: linear-gradient(0.25turn, #495057, #ADB5BD 7%, #ADB5BD 93%, #495057);
}

ul {
    display: flex;
    gap: 5vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

img {
    width: 25%;
    height: 100%;
}

img:not(.image_desktop):hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

img:not(.image_desktop) {
    transition: transform 0.3s ease;
}

a {
    color: #F8F9FA;
    text-decoration: none;
    position: relative;
    transition: text-shadow 1.5s ease;
}

nav ul li a:hover,
details summary:hover {
    text-shadow: #FFC300 0px 0px 10px;
    transition: text-shadow 0.5s ease;
}

nav ul li a:hover::before,
details summary:hover::before {
    transform: scaleX(1);
}

nav ul li a::before,
details summary::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFC300;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

h1 {
    margin-top: 10vw;
    margin-bottom: 5vw;
    font-size: 3.5rem;
}

h2 {
    margin-top: 7vw;
    margin-bottom: 7vw;
    scroll-margin-top: 15vw;
    font-size: 3rem;
    color: #FFC300;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #495057;
    text-shadow: #212529 20px 20px 15px;
}

p {
    font-size: 0.8rem;
}

footer {
    background-color: #212529;
    background: linear-gradient(0.25turn, #495057, #212529 7%, #212529 93%, #495057);
    color: #FFC300;
    padding: 100px;
    text-align: center;
    border-radius: 0px 0px 100px 100px;
}

input[type="text"],
textarea,
input:last-child {
    border-color: #495057;
    border-radius: 15px;
    background-color: #212529;
    color: #FFC300;
    text-shadow: #495057 2px 2px 1px;
    transition: all 1.5s ease;
}

input[type="text"] {
    margin-bottom: 3vw;
}

input:last-child {
    text-align: center;
}

input[type="text"]:hover,
textarea:hover,
input:last-child:hover,
input[type="text"]:focus,
textarea:focus,
input:last-child:focus {
    border-color: #FFC300;
    box-shadow: #FFC300 0px 0px 40px;
    background-color: #F8F9FA;
    color: #212529;
    text-shadow: #FFC300 2px 2px 1px;
    transition: all 0.3s ease;
}

input:last-child:hover,
input:last-child:focus {
    background-color: #FFC300;
    color: #212529;
    text-shadow: #212529 0px 0px 0px;
}

input:hover::placeholder,
textarea:hover::placeholder,
input:focus::placeholder,
textarea:focus::placeholder {
    font-family: 'Arial';
    color: #6C757D;
    text-shadow: #212529 0px 0px 0px;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Arial';
    color: #6C757D;
    text-shadow: #212529 0px 0px 0px;
}

details[open]>summary,
details>summary {
    list-style-type: " ";
}

details summary {
    position: relative;
}

details p {
    display: none;
}

section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: -10vw 0;
    gap: 2vw;
}

span {
    font-weight: bold;
    color: #FFC300;
}

.back_to_front {
    background-color: #ADB5BD;
    color: #495057;
    border: #ADB5BD 2px solid;
    box-shadow: #ADB5BD 0px 0px 0px;
    padding: 5% 5%;
    border-radius: 70px;
    transform: scale(1);

    transition: all 0.7s ease;
}

.back_to_front:hover {
    background-color: #495057;
    color: #DEE2E6;
    border: #DEE2E6 2px solid;
    box-shadow: #212529 20px 20px 40px;
    transform: scale(1.1);

    transition: all 1.5s ease;
}

.desktop_style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    text-align: left;
}

.desktop_reverse_style {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    text-align: right;
}

.sticky_menu {
    display: flex;
    flex-direction: column;
    background-color: #212529;
    background: linear-gradient(0.25turn, #495057, #212529 7%, #212529 93%, #495057);
    box-shadow: #212529 0px 0px 40px 20px;
    color: #FFC300;
    padding: 0.1vw;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.sticky_menu label {
    font-family: "Kalam", cursive;
}

.sticky_menu p {
    font-size: 2rem;
    margin: 0vw 0;
}

.socials_mobile {
    display: none;
}

.social_logo {
    width: 20%;
    filter: drop-shadow(0px 0px 20px #F8F9FA);
}

.socials_desktop:hover {
    filter: drop-shadow(0px 0px 20px#FFC300);
}

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/developper\ full\ stack\ junior.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 100px 100px;
}

.title_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2vw;
    color: #FFC300;
    padding: 5%;
}

.contact_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2vw;
    margin-top: -10vw;
    filter: drop-shadow(0px 0px 20px #212529);
}

.contact_socials a {
    width: 100%;
}

.title_socials a {
    width: 100%;
}

.profile {
    justify-content: center;
    gap: 2vw;
    margin-top: 5vh;
    text-align: center;
    margin: 10%;
}

.logo {
    width: 25%;
    filter: drop-shadow(0px 0px 20px #ADB5BD);
}

.logo:hover {
    filter: drop-shadow(0px 0px 20px#FFC300);
}

.logo_content {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    justify-content: center;
    align-items: center;
}

.logo_line {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    justify-content: space-around;
    align-items: center;
}

.projects_content {
    background-color: #495057;
    color: #DEE2E6;
    border: #DEE2E6 2px solid;
    box-shadow: #212529 20px 20px 20px;
    border-radius: 50px;
    display: none;
    padding: 2% 5%;
    position: relative;
    z-index: 1;
}

.project {
    margin: 10vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2vw;
    background-color: #495057;
    color: #DEE2E6;
    border: #DEE2E6 2px solid;
    box-shadow: #212529 20px 20px 20px;
    padding: 2vw;
    border-radius: 50px;
}

.project details[open] {
    position: relative;
}

.project details[open] summary {
    text-align: center;
}

.project img {
    width: 100%;
    border-radius: 25px;
}

.first_studie {
    position: relative;
    z-index: 1;
}

.studies div img {
    width: 20%;
}

.studies .desktop_style,
.studies .desktop_reverse_style {
    gap: 5vw;
    margin: 5vw 0vw;
}

.studies .desktop_style:hover,
.studies .desktop_reverse_style:hover {
    gap: 30vw;
    margin: 5vw 0vw;
}

.contact {
    margin-top: -10vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.contact img {
    width: 10%;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact form input {
    width: 50%;
    height: 3vw;
    font-size: 0.8rem;
}

.contact form textarea {
    width: 80%;
    height: 15vw;
    font-size: 0.8rem;
}

#pfp {
    width: 40%;
    border-radius: 50px;
}

#burger {
    display: none;
}

#home {
    font-size: 1.5rem;
}

#menu {
    visibility: hidden;
}

#menu_burger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #212529;
    color: #FFC300;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 1.5rem;
    }

    ul {
        flex-direction: column;
        gap: 5vw;
    }

    img {

        width: 90%;
        height: 100%;
    }

    h1 {
        margin-top: 20vw;
        margin-bottom: 10vw;
        font-size: 3.5rem;
    }

    h2 {
        margin-top: 30vw;
        margin-bottom: 15vw;
        scroll-margin-top: 40vw;
        font-size: 3rem;
    }

    p {
        font-size: 1.2rem;
    }

    main {
        margin: 0px;
        border-radius: 0px 0px 0px 0px;
    }

    footer {
        padding: 10px;
        border-radius: 0px 0px 0px 0px;
    }

    nav {
        display: none;
    }

    input:checked~nav {
        display: block;
    }

    input[type="text"] {
        margin-bottom: 5vw;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0vw 0;
        gap: 20vw;
    }

    details p {
        display: block;
    }

    .project {
        margin: 0vw 10vw;
        padding: 10vw 2vw;
    }

    .project img {
        width: 75%;
    }

    summary {
        font-size: 1.5rem;
    }

    .back_to_front {
        background-color: unset;
        color: unset;
        border: unset;
        box-shadow: unset;
        padding: unset;
        border-radius: unset;
        transform: unset;

        transition: unset;
    }

    .back_to_front:hover {
        background-color: unset;
        color: unset;
        border: unset;
        box-shadow: unset;
        transform: unset;

        transition: unset;
    }

    .sticky_menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sticky_menu p {
        font-size: 1.8rem;
    }

    .title_socials {
        gap: unset;
        position: unset;
        top: unset;
        left: unset;
        background-color: unset;
        margin: unset;
        border-radius: unset;
    }

    .image_desktop {
        display: none;
    }

    .profile {

        gap: 2vw;
        margin-top: 10vh;
        margin: 5%;
    }

    .logo {
        width: 40%;
        height: 50%;
    }

    .logo_content {
        display: flex;
        flex-direction: column;
        gap: 8vw;
        justify-content: center;
        align-items: center;
    }

    .social_logo {
        width: 50%;
    }

    .socials_mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .socials_mobile a {
        width: 100%;
    }

    .socials_desktop {
        display: none;
    }

    .desktop_style,
    .desktop_reverse_style {
        display: block;
        text-align: center;
    }

    .contact form {
        gap: 2vw;
        width: 100%;
    }

    .contact form input {
        width: 100%;
        height: 15vw;
        font-size: 1.2rem;
    }

    .contact form textarea {
        width: 100%;
        height: 100vw;
        font-size: 1.2rem;
    }

    .contact form input:last-child {
        border-radius: 50px;
    }

    #pfp {
        width: 75%;
    }

    #burger {
        width: 15vw;
        display: flex;
        justify-content: center;
    }

    #menu_burger {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }
}

@media (max-width: 350px) {
    #menu_burger {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1vw;
    }

    .sticky_menu p {
        font-size: 1rem;
    }
}