html {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    background-color: #DAF0CE;
}

body {
    background-color: #DAF0CE;
    color: #25283D;
    margin: 0;
    padding: 0;
}

main {
    background-color: #EFD9CE;
    margin: 3% 10% 10% 10%;
    border-radius: 0px 0px 100px 100px;
}

ul {
    display: flex;
    gap: 5vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

img {
    width: 25%;
    height: 100%;
}

a {
    color: #90E0EF;
    text-decoration: none;
}

h1 {
    margin-top: 10vw;
    margin-bottom: 5vw;
}

h2 {
    margin-top: 15vw;
    margin-bottom: 7vw;
    scroll-margin-top: 15vw;
}

p {
    font-size: 1.2rem;
}

footer {
    background-color: #25283D;
    color: #EFD9CE;
    padding: 100px;
    text-align: center;
    border-radius: 0px 0px 100px 100px;
}

hr {
    display: none;
}

input::placeholder, textarea::placeholder {
    font-family: 'Arial';
    color : #666666 ;
}

#burger hr {
    width: 30px;
    height: 3px;
    background-color: #25283D;
    margin: 5px 0px;
}

#home {
    font-size: 1.2rem;
}

#menu {
    visibility: hidden;
}

#menu_burger {
    margin-top: 2vw;
}

.sticky_menu {
    background-color: #25283D;
    color: #EFD9CE;
    padding: 0.2vw;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.socials_mobile {
    display: none;
}

.social_logo {
    width: 20%;
}

.home {
    position: relative;
}

.title_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2vw;
    position: absolute;
    top: 20%;
    left: 0;
    background-color: rgba(239, 217, 206, 0.5);
    margin: 0px 10%;
    border-radius: 50px;
}

.contact_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2vw;
    margin-top: -10vw;
}

.contact_socials a {
    width: 100%;
}

.title_socials a {
    width: 100%;
}

.profile {
    justify-content: center;
    gap: 2vw;
    margin-top: 5vh;
    text-align: center;
    margin: 10%;
}

.image-desktop {
    display: inline-flex;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.desktop_style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.desktop_reverse_style {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.logo {
    width: 25%;
}

.logo-content {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    justify-content: center;
    align-items: center;
    padding: 5vw 5vw;
    margin-top: -7vw;
}

.logo-line {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    justify-content: space-around;
    align-items: center;
}

.project {
    margin: 10vw 0vw ;
}

.studies div img {
    width: 20%;
}

.studies .desktop_style, .studies .desktop_reverse_style{
    gap: 30vw;
    margin: 5vw 0vw;
}

.contact {
    margin-top: -10vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.contact img {
    width: 10%;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact form input {
    width: 50%;
    height: 3vw;
    font-size: 0.8rem;
}

.contact form textarea {
    width: 80%;
    height: 15vw;
    font-size: 0.8rem;
}

.contact form input:last-child {
    background-color: #25283D;
    color: #EFD9CE;
    border-radius: 50px;
}

@media (max-width: 600px) {
    html {
        font-size: 1.5rem;
    }

    ul {
        flex-direction: column;
        gap: 5vw;
    }
    
    img {
    
        width: 90%;
        height: 100%;
    }

    h1 {
        margin-top: 20vw;
        margin-bottom: 10vw;
    }
    
    h2 {
        margin-top: 30vw;
        margin-bottom: 15vw;
        scroll-margin-top: 40vw;
    }
    
    p {
        font-size: 1.5rem;
    }

    main {
        margin: 0px;
        border-radius: 0px 0px 0px 0px;
    }
    
    footer {
        padding: 10px;
        border-radius: 0px 0px 0px 0px;
    }

    hr {
        display: block;
    }

    nav {
        display: none;
    }

    input:checked ~ nav {
            display: block;
    }

    #home {
        font-size: 1rem;
    }

    #menu_burger {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 5vw;
    }
    
    .sticky_menu {
        padding: 10px;
    }
    
    .sticky_menu p {
        font-size: 2rem;
    }

    .title_socials {
        gap: unset;
        position: unset;
        top: unset;
        left: unset;
        background-color:unset;
        margin: unset;
        border-radius: unset;
    }
    
    .image-desktop {
        display: none;
    }

    .profile {

        gap: 2vw;
        margin-top: 10vh;
        margin: 5%;
    }
    
    .logo {
        width: 50%;
        height: 50%;
    }
    
    .logo-content {
        display: flex;
        flex-direction: column;
        gap: 8vw;
        justify-content: center;
        align-items: center;
    }

    .social_logo {
        width: 50%;
    }

    .socials_mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .socials_mobile a {
        width: 100%;
    }

    .socials_desktop {
        display: none;
    }

    .desktop_style, .desktop_reverse_style {
        display: block;
    }
    
    .contact form {
        gap: 2vw;
        width: 100%;
    }
    
    .contact form input {
        width: 100%;
        height: 15vw;
        font-size: 1.2rem;
    }
    
    .contact form textarea {
        width: 100%;
        height: 100vw;
        font-size: 1.2rem;
    }
    
    .contact form input:last-child {
        border-radius: 50px;
    }
}

@media (max-width: 350px) {
    #menu_burger {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1vw;
    }
}